.container {
    display: flex;
    flex-direction: column;
    // position: relative;
}

.title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

// .title-text {
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: 30px;
// }

.title-text {
    padding-top: 10px;
    height: 70px;
    font-size: 60px;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: radial-gradient(ellipse, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-button {
    display: flex;
}

.clear-button {
    margin-left: 50px;
}

.tasks {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-table {
    margin-top: 20px;
    width: 50%;
}

.task-property {
    font-family: monospace;
    font-size: 20px;
}

.task-details {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrap-text {
    max-width: 200px;
    word-wrap: break-word;
}

th {
    padding-right: 30px;
}