
<div class="container">
  <h2>To Do Manager</h2>
  <!-- <li>
      <a routerlink="/toDoList">List Tasks to Do</a>
  </li> -->
  <li>
      <a routerLink="/toDoForm">Add Tasks to Do</a>
  </li>
</div>

<div *ngIf="tasks">
    <table>
      <thead>
        <tr>
          <th>Priority</th>
          <th>Title</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.priority }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.category }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.date }}</td>
          <td><button type="button" (click)="editTask(task.id)"> Edit </button></td>
          <td><button type="button" (click)="deleteTask(task.id)"> Delete </button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" (click)="deleteAllTasks()"> Clear </button>
<!-- 
<div *ngIf="tasks">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Priority</th>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{ task.id }} </td>
                <td>{{ task.priority }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.category }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.date }}</td>
            </tr>
        </tbody>
    </table>
</div> -->
