
<div class="container">
  <header class="title">
    <h1 class="title-text">To Do Manager</h1>
  </header>
  <div class="buttons">
    <div class="add-button">
      <button mat-raised-button routerLink="/toDoForm">Add Tasks to Do</button><br><br>
    </div>
    <div class="clear-button">
      <button mat-flat-button type="button" (click)="deleteAllTasks()"> Clear </button>
    </div>
  </div>
  <div class="tasks" *ngIf="tasks">
    <table class="tasks-table">
      <thead>
        <tr>
          <th class="task-property">Priority</th>
          <th class="task-property">Title</th>
          <th class="task-property">Category</th>
          <th class="task-property">Description</th>
          <th class="task-property">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td class="task-details">{{ task.priority }}</td>
          <td class="task-details">{{ task.title }}</td>
          <td class="task-details">{{ task.category }}</td>
          <td class="task-details">{{ task.description }}</td>
          <td class="task-details">{{ task.date | date: "yyyy-MM-dd"}}</td>
          <td><button class="edit-button" mat-raised-button color="primary" type="button" (click)="editTask(task.id)"> Edit </button></td>
          <td><button class="done-button" mat-raised-button color="warn" type="button" (click)="deleteTask(task.id)"> Done Task! </button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


